.upload-wrapper{
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 35%;
    margin: 30px auto;

}
.upload-item {
    border-radius: 4px;
    background-color: #ffffff;
    border: dashed 1px rgba(102, 106, 108, 0.4);
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.upload-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #003c5a;
}
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}
.upload-item img{
	max-width: 100%;
	border-radius: 3px;
}
.pos-middle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.upload-input {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 10;
}
.btn-trans{
	background: none;
	border: 0 none;
	outline: none;
	cursor: pointer;
}
.upload-remove{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 15;
    background: white;
    border-radius: 50px;
    box-shadow: 0 0 1px #666a6c;
    width: 23px;
    height: 23px;
    padding: 0;
    line-height: 1.2;
}
.icon-upload, .icon-close{
	display: inline-block;
    vertical-align: middle;
    background-size: 100%;
	background-repeat: no-repeat;
}
.icon-upload {
    width: 45px;
    height: 45px;
    background-image: url("screenshot.svg");
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
}
.icon-close{
	background-image: url("close.svg");
    width: 14px;
    height: 14px;
}
